<div class="container">
<h1 class="centered-text">About Me</h1>
  <div class="row">
    <div class="col-xs-12">
      <img class="img-circle img-centerable avatar-img" src="https://c1.staticflickr.com/9/8708/17446570459_5f95600368_m.jpg" style="max-width: 100%;" alt="avatar">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <p>Hi, I am George, a programmer who dreams and pursues excellence. I work in a small company as a CTO. Welcome to my blog!</p>
      <ul class="social-network">
        <li><a class="social-icon" href="https://github.com/georgeweblabs" target="_blank"><i class="fa fa-github"></i></a></li>
        <li><a class="social-icon" href="https://tw.linkedin.com/in/georgechang0117" target="_blank"><i class="fa fa-linkedin"></i></a></li>
        <li><a class="social-icon" href="https://www.instagram.com/georgechang.ig" target="_blank"><i class="fa fa-instagram"></i></a></li>
        <li><a class="social-icon" data-container="body" data-toggle="popover" data-placement="top" data-content="georgechang0117(at)gmail(dot)com"><i class="fa fa-envelope"></i></a></li>
      </ul>
    </div>
  </div>
</div>