
<div class="main">

  <div class="container">
    <div class="row">
      <div class="col-md-8">
      <% @articles.each do |article| %>
        <div class="post">
          <div class="post-title">
            <%= link_to article.title, article_path(article) %>
          </div>
          <div class="post-info">
            <p><%= getCustomStrftime(article.created_at) %></p>
          </div>
          <div class="post-text">
            
          </div>
        </div>
      <% end %>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">
              <div class="center-block">
                <h3 class="centered-text">About George</h3>
                <a href="<%= about_path %>"><img class="img-circle img-centerable avatar-img" src="https://c1.staticflickr.com/9/8708/17446570459_5f95600368_m.jpg" width="200" height="200" alt="avatar"></a>
                <p class="blocktext">I am a programmer who dreams and pursues excellence.</p>
                <ul class="social-network">
                  <li><a class="social-icon" href="https://github.com/georgeweblabs" target="_blank"><i class="fa fa-github"></i></a></li>
                  <li><a class="social-icon" href="https://tw.linkedin.com/in/georgechang0117" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                  <li><a class="social-icon" href="https://www.facebook.com/davinci8661" target="_blank"><i class="fa fa-facebook"></i></a></li>
                  <li><a class="social-icon" data-container="body" data-toggle="popover" data-placement="top" data-content="georgechang0117(at)gmail(dot)com"><i class="fa fa-envelope"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>