<div class="container">
  <header class="page-header">
    <h1>George Web Labs <small></small></h1>
  </header>
</div>
<div class="main">
<% @articles.each do |article| %>
  <div class="container">
    <div class="row">
      <div class="col-md-8 article">
        <div class="post-title">
          <h2><%= link_to article.title, article_path(article) %></h2>
        </div>
        <div class="post-time">
          <p><%= getCustomStrftime(article.created_at) %></p>
          <p><%= article.user.name %></p>
        </div>
        <div class="post-text">
          <p><%= link_to 'Learn More >>', article_path(article) %></p>
        </div>
      </div>
      <div class="col-md-4">
      </div>
    </div>
  </div>
<% end %>
</div>