// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main {
  padding-top: 50px;
  padding-bottom: 50px;
  
  .post {
    border-bottom: 1px solid #CCCCCC;
    padding-bottom: 20px;
    background: white;
    margin-bottom: 50px;
    .post-title {
      font-size: 36px;
      a {
        color: black;
        font-weight: bold;
      }
      a:hover {
        color: #c71f16;
        text-decoration: none;
      }
    }
    .post-info {
      color: #B3B3B3;
    }
  }
}

ul.social-network {
  width: 5em;
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
  padding-left: 0;
  font-size: 50px;
  li {
    display: inline;
    a.social-icon {
      color: black;
      &:hover, &:focus, &:active {
        color: #4183c4;
      }
    }
  }
}

.img-centerable {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p.blocktext {
    margin-left: auto;
    margin-right: auto;
    width: 10em;
}

.avatar-img {
  margin-top: 2em;
  margin-bottom: 2em;
}

